hr {
    margin: 0;
}


.add-link-button
{
    position: fixed;
    width: 130px;
    height: 130px;
    right: 5%;
    bottom: 5%;
    font-size: 50px;
    color:#FFFFFF;
    background: #E4572E;
    border-radius: 75px;
    border: solid 4px #E4572E ;
}

.add-link-button:hover{
    color:#E4572E;
    background: #FFFFFF;
    transition: 0.4s;
    transform: rotate(180deg);   
}

.popUp{
    position: fixed;
    width: 1060px;
    height: 120px;
    right: 13%;
    bottom: 5%;
    background-image: url(../img/new_link.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputSmall{
    width: 660px;
    height: 47px;
    margin-right: 15px ;
    padding: 0 12px;
    border-radius: 5px;
    border: 2px solid #eeeeee;
    text-align:start;
    font-family:  FuturaPTBook;
    letter-spacing: 0.05em;
    font-size: 20px ;
    font-weight: 300;
    color: #aca9a9;
    outline: none;
}


.submitSmall{
    width: 270px;
    height: 48px;
    margin-left: 15px ;
    padding: 0 12px;
    border-radius: 5px;
    color: #FFFFFF;
    background: var(--medium-purple);
    border: 2px solid var(--medium-purple);
    text-align: center;
    font-family:  FuturaPTBook;
    font-weight: 600;
    font-size: 20px ;

}

.category-titles p
{
    font-size: 20px;
    margin-bottom: 5px;
}

.link-made
{
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.link-made .date
{
    margin: 17.5px auto 10px auto;
    font-size: 15px;
    opacity: 50%;
}

.link-made .long-link
{
    font-size: 25px;
    margin: 0;
    
}

.link-made .short-link
{
    font-size: 15px;
    /* margin: 10px auto 17.5px auto ; */
    color: #9B7EDE;
}

.link-made .number-clicks
{
    display: flex;
    align-items: center;
    font-size: 35px;
    color: #E4572E;
}

button .copy-link
{
    background-color: #fff;
    border: 3px solid #E4572E;
    font-size: 20px;
    color: #E4572E;
}
.copy-button
{
    font-size: 20px;
    background: #FFFFFF;
    border: 3px solid #E4572E;
    border-radius: 5px;
    padding:10px 50px;
}
.copy-button a
{
    color: #E4572E;
}

.link-elem {
    width: inherit;
    height: 512px;
    overflow: scroll;
}

.link {
    height: 128px;
}

.garbage-form {
    height: 47px;
}

.garbage {
    width: 47px;
    height: 47px;
    background: none;
    background-image: url(../img/garbage.png);
    background-size: cover;
    border: none;
}

.actions {
    width: 256px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    border-radius: 34px;
    transition: .4s;
    z-index: -999;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #E4572E;
}

input:focus + .slider {
    box-shadow: 0 0 1px #E4572E;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.cursor_img {
    width: 27px;
    height: 45px;
    background-image: url(./../img/cursor.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.click_container {
    display: flex;
}

.container-links {
    width: 75vw;
    margin: 35px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.other-actions {
    width: inherit;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.toggle-form {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1180px) {
    .long-link {
        width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 800px) {
    .long-link {
        width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .actions {
        display: flex;
        flex-direction: column;
    }

    .other-actions {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 375px) {
    .long-link {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .short-link {
        display: block;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .number-clicks {
        font-size: 25px !important;
    }

    .cursor_img {
        width: 14px;
        height: 30px;
        background-size: contain;
    }

    .garbage-form {
        width: 25px;
        height: 25px;
    }

    .garbage {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 650px) {
    .long-link {
        width: 200px;
    }
}