:root {
    --chocolate: #E4572E;
    --medium-purple: #9B7EDE;
}


@font-face{
    font-family: "FuturaPTBook";
    src: url(../font/FuturaPTBook.otf);
}
@font-face{
    font-family: "FuturaPTDemi";
    src: url(../font/FuturaPTDemi.otf);
}

@font-face{
    font-family: "FuturaPTLight";
    src: url(../font/FuturaPTLight.otf);
}

html,
body
{
    margin: 0 auto;
    height: 100vh;
    font-family:FuturaPTBook;
    font-weight: lighter;
    letter-spacing: 0.05em;
}

ul
{
    list-style-type:none;
}
a
{
    text-decoration: none;
}

.container
{
    width: 75vw;
    margin: 35px auto 0 auto;

}

.navbar
{

    display: flex;
    justify-content: space-between;
}



.section1
{
    margin-top: 135px;
    color:#2B2D42;
    display: flex;
    background-image: url(../img/illu1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;


}


.text
{
    width:60vw;

}

.section1 h1{
    margin:0 auto;
    font-family: FuturaPTDemi;
    letter-spacing: 0em;
    line-height: 76.92px;
    font-size: 55px;
    font-weight: 300;
}
.section1 h1 span
{
    margin:0 auto;
    color:var(--medium-purple);
}

.section1 h2
{
    margin:0 auto;
    font-family: FuturaPTLight;
    font-size: 30px;
}

.inscription
{
    font-size: 20px;
    background: var(--chocolate);
    color: #FFFFFF;
    border-radius: 5px;
    padding:10px 50px;
}

.inscription:hover
{
    background:#FFFFFF;
    color: var(--chocolate);
    border: solid 2px var(--chocolate);
    border-radius: 5px;
    padding:9px 40px;
    transition-duration: 0.40s;
}

.section1 .inscriptionButton
{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.background{
   
    height: 405px;

}


.section2{
    width: 100%;
    height: 143px;
    top: 527px;
    background-color:#2B2D42;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input 
{
    width: 800px;
    height: 50px;
    margin-right: 15px ;
    padding: 0 12px;
    border-radius: 5px;
    border: 2px solid #eeeeee;
    text-align:start;
    font-family:  FuturaPTBook;
    letter-spacing: 0.05em;
    font-size: 20px ;
    font-weight: 300;
    color: #aca9a9;
    outline: none;
}

.shortened {
    color: var(--chocolate);
}

.submit
{
    width: 270px;
    height: 57px;
    margin-left: 15px ;
    padding: 0 12px;
    border-radius: 5px;
    color: #FFFFFF;
    background: var(--medium-purple);
    border: 2px solid var(--medium-purple);
    text-align: center;
    font-family:  FuturaPTBook;
    font-weight: 600;
    font-size: 20px ;
}

.submit:hover
{
    transition-duration: 0.40s;
    color: var(--medium-purple);
    background: #FFFFFF;
    border: 2px solid var(--medium-purple);
}

.accord
{
    margin-left: 70px;
    margin-top: 10px;
    color: #FFFFFF;
    opacity: 50%;
    font-family:  FuturaPTBook;
    letter-spacing: 0.0em;
    font-size: 15px;
}

.container2
{   margin: 50px 0px 20px 0px;
    display: flex;
    align-items:center;
    flex-direction: column;

}
.container2 span{
    display: none;
}

 

.container2 span
{
    font-family: FuturaPTDemi;
    font-size: 167px;
    color: var(--chocolate);
    margin-left: 20px;
    margin-right: 20px;
}

.container2 h2
{
    text-align: center;
    font-family: FuturaPTDemi;
    font-size: 35px;
    font-weight: 600;
}

.container2 h3
{
    color:var(--medium-purple);
    font-family: FuturaPTDemi;
    font-size: 35px;
    font-weight: 600;
    margin: 0 auto;
}

.sousBlock1, .sousBlock2, .sousBlock3, .sousBlock4
{
    margin-top: 40px;

}
.container2 .sousBlock1 p, .sousBlock2 p, .sousBlock3 p, .sousBlock4 p
{
    margin: 0 auto;
    font-size: 22px;
    width: 35vw;
}

.container2 h4
{
    font-family: FuturaPtLight;
    font-size: 40px;
    letter-spacing: 0.2rem;
}

.purpleButton
{
    font-size: 20px;
    background: var(--medium-purple);
    color: #FFFFFF;
    border-radius: 5px;
    padding:10px 50px;
}

.purpleButton:hover
{
    background:#FFFFFF;
    color: var(--medium-purple);
    border: solid 2px var(--medium-purple);
    border-radius: 5px;
    padding:9px 40px;
    transition-duration: 0.40s;
}

#hamitems 
{
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 720px) {

    .block1, .block2, .block3, .block4{ 
        margin-top: 10px;
        display: flex;}

     .block1, .block3
    {

      padding-right: 220px;
    }
    .block2, .block4
    {
        text-align: end;
        padding-left: 220px;
    }
    .container2 span {
        display: block;
    }
    .block2 span, .block4 span
    {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 1141px) {
    .input 
    {
    width: 500px;}   
}
@media only screen and (max-width: 840px) {
    .input 
    {
    width: 350px;
    }   
    .submit
    {
        width: 140px;
    }
}
@media only screen and (max-width: 550px) {
    .input 
    {
        width: 290px;
        height: 35px;
        font-size: 15px;
    }   
    .submit
    {
        width: 130px;
        height: 35px;
        font-size: 15px;
    }
    .accord{
        margin-left: 5px;
        font-size: 13px;
    }

}
@media only screen and (max-width: 720px) {
    .section1{
        margin: 35px 0;
        background-image: none;
    }
    .container{
        display: flex;
    }
    .section2{
        display: flex;
        justify-content: center;
    }
    .inscription
    {
        font-size: 23px;
        padding:15px 120px;
    }
    .purpleButton
    {
        font-size: 23px;
        padding:15px 70px;
    }
    .block1 h3, .block3 h3
    {
        color: var(--chocolate);
    }
}
